@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: #fff;

  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(0.205 0 0);

  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(0.205 0 0);

  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(0.556 0 0);

  --color-destructive: oklch(var(--destructive));
  --color-destructive-foreground: #fff;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-input: var(--input);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --font-quran: "KFGQPC Uthman Taha Naskh", serif;
  --font-bengali: var(--font-hind-siliguri);
  --font-sans: var(--font-inter);
}

@font-face {
  font-family: "KFGQPC Uthman Taha Naskh";
  src: url("./public/fonts/KFGQPC Uthman Taha Naskh Regular/KFGQPC Uthman Taha Naskh Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Amiri";
  src: url("/fonts/Amiri-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scheherazade New";
  src: url("/fonts/ScheherazadeNew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --primary: hsl(112 39% 36%);
  --background: hsl(0 0% 5%);
  --foreground: hsl(0 0% 98%);
  
  --card: hsl(0 0% 7%);
  --card-foreground: hsl(0 0% 98%);
  
  --popover: hsl(0 0% 7%);
  --popover-foreground: hsl(0 0% 98%);

  --muted: hsl(0 0% 15%);
  --muted-foreground: hsl(0 0% 63.9%);

  --accent: hsl(0 0% 15%);
  --accent-foreground: hsl(0 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(0 0% 13%);
  --input: hsl(0 0% 13%);
  --ring: hsl(112 39% 36%);

  /* Radius */
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  .container {
    @apply mx-auto px-4!;
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/20 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-muted-foreground/40;
  }
}
